*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
AssemblyInfo.cs
*.user
[Bb]uild*
[Dd]ist
junit-report
junit
ProfilerMessage.java
/packages/NHibernateProfiler.1.0.0.820/tools/log.txt